extends layout/base
block content
    #{messages.info}
    main#main-container
        .content
            .my-50.text-center
                h2.font-w700.text-black.mb-10 Hi! #{session_store.nama_dpn}
                if session_store.admin
                    h3.h5.text-muted.mb-0 Anda login sebagai Super Admin
            // Coins
            .block.block-fx-shadow
                ul#crypto-tabs.nav.nav-tabs.nav-tabs-block.align-items-center(data-toggle='tabs', role='tablist')
                    li.nav-item
                        a.nav-link(href='#crypto-coins-btc')
                            span.d-sm-none BTC
                            span.d-none.d-sm-inline
                                | Bitcoin
                                span.text-muted $14000
                    li.nav-item
                        a.nav-link(href='#crypto-coins-eth')
                            span.d-sm-none ETH
                            span.d-none.d-sm-inline
                                | Ethereum
                                span.text-muted $1100
                    li.nav-item
                        a.nav-link(href='#crypto-coins-ltc')
                            span.d-sm-none LTC
                            span.d-none.d-sm-inline
                                | Litecoin
                                span.text-muted $250
                    li.nav-item.ml-auto
                        .block-options.mr-15
                            .dropdown(role='group')
                                button#btnGroupTabs1.btn-block-option(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i.fa.fa-calendar.mr-5
                                    i.fa.fa-angle-down
                                .dropdown-menu.dropdown-menu-right(aria-labelledby='btnGroupTabs1')
                                    button.btn.btn-sm.btn-block.btn-alt-secondary(type='button', tabindex='-1') 1 Hour
                                    button.btn.btn-sm.btn-block.btn-alt-secondary(type='button', tabindex='-1') 1 Week
                                    button.btn.btn-sm.btn-block.btn-alt-secondary.active(type='button', tabindex='-1') 1 Month
                                    button.btn.btn-sm.btn-block.btn-alt-secondary(type='button', tabindex='-1') 1 Year
                                    .dropdown-divider
                                    button.btn.btn-sm.btn-block.btn-alt-secondary(type='button', tabindex='-1') ALL
                .block-content.block-content-full.tab-content
                    #crypto-coins-btc.tab-pane
                        .row.items-push.text-center.my-20
                            .col-md-4
                                .font-size-h3.font-w700 $14.000
                                .text-muted.font-w600.text-uppercase Bitcoin Price
                            .col-md-4
                                .font-size-h3.font-w700
                                    span.text-success +
                                    |  $3.500
                                .text-muted.font-w600.text-uppercase Since Last Month (USD)
                            .col-md-4
                                .font-size-h3.font-w700
                                    span.text-success +
                                    |  133%
                                .text-muted.font-w600.text-uppercase Since Last Month (%)
                        hr.my-30
                        div
                            // Bitcoin Chart.js Container (initialized in js/pages/be_pages_crypto_dashboard.js), for more examples you can check out http://www.chartjs.org/docs/
                            canvas.js-chartjs-bitcoin(height='300')
                    #crypto-coins-eth.tab-pane
                        .row.items-push.text-center.my-20
                            .col-md-4
                                .font-size-h3.font-w700 $1.100
                                .text-muted.font-w600.text-uppercase Ethereum Price
                            .col-md-4
                                .font-size-h3.font-w700
                                    span.text-success +
                                    |  $600
                                .text-muted.font-w600.text-uppercase Since Last Month (USD)
                            .col-md-4
                                .font-size-h3.font-w700
                                    span.text-success +
                                    |  210%
                                .text-muted.font-w600.text-uppercase Since Last Month (%)
                        hr.my-30
                        div
                            // Ethereum Chart.js Container (initialized in js/pages/be_pages_crypto_dashboard.js), for more examples you can check out http://www.chartjs.org/docs/
                            canvas.js-chartjs-ethereum(height='300')
                    #crypto-coins-ltc.tab-pane
                        .row.items-push.text-center.my-20
                            .col-md-4
                                .font-size-h3.font-w700 $250
                                .text-muted.font-w600.text-uppercase Litecoin Price
                            .col-md-4
                                .font-size-h3.font-w700
                                    span.text-danger -
                                    |  $50
                                .text-muted.font-w600.text-uppercase Since Last Month (USD)
                            .col-md-4
                                .font-size-h3.font-w700
                                    span.text-danger -
                                    |  17%
                                .text-muted.font-w600.text-uppercase Since Last Month (%)
                        hr.my-30
                        div
                            // Litecoin Chart.js Container (initialized in js/pages/be_pages_crypto_dashboard.js), for more examples you can check out http://www.chartjs.org/docs/
                            canvas.js-chartjs-litecoin(height='300')
            // END Coins
            // Portfolio and Activity
            .row
                .col-lg-6
                    // Portfolio
                    .block.block-fx-shadow
                        .block-header.block-header-default
                            h3.block-title Portfolio
                            .block-options
                                button.btn-block-option(type='button')
                                    i.si.si-wrench
                        .block-content
                            table.table.table-borderless.table-striped.table-vcenter
                                tbody
                                    tr
                                        td(style='width: 32px;')
                                            i.fa.fa-circle.text-warning
                                        td(style='width: 140px;')
                                            strong Bitcoin
                                        td.d-none.d-sm-table-cell(style='width: 160px;')
                                            .progress.mb-0(style='height: 10px;')
                                                .progress-bar.bg-warning(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 47%')
                                        td.text-right
                                            | 0.50 BTC
                                        td.d-none.d-sm-table-cell.text-right.text-muted
                                            | ~ $7.000
                                    tr
                                        td
                                            i.fa.fa-circle.text-info
                                        td
                                            strong Ethereum
                                        td.d-none.d-sm-table-cell
                                            .progress.mb-0(style='height: 10px;')
                                                .progress-bar.bg-info(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 22%')
                                        td.text-right
                                            | 3.00 ETH
                                        td.d-none.d-sm-table-cell.text-right.text-muted
                                            | ~ $3.300
                                    tr
                                        td
                                            i.fa.fa-circle.text-muted
                                        td
                                            strong Litecoin
                                        td.d-none.d-sm-table-cell
                                            .progress.mb-0(style='height: 10px;')
                                                .progress-bar.bg-muted(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 16%')
                                        td.text-right
                                            | 10.00 LTC
                                        td.d-none.d-sm-table-cell.text-right.text-muted
                                            | ~ $2.500
                                    tr
                                        td
                                            i.fa.fa-circle.text-danger
                                        td
                                            strong US Dollars
                                        td.d-none.d-sm-table-cell
                                            .progress.mb-0(style='height: 10px;')
                                                .progress-bar.bg-danger(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 13%')
                                        td.text-right
                                            | 2.000 USD
                                        td.d-none.d-sm-table-cell.text-right.text-muted
                                            | $2.000
                                    tr
                                        td
                                            i.fa.fa-circle.text-success
                                        td
                                            strong Euros
                                        td.d-none.d-sm-table-cell
                                            .progress.mb-0(style='height: 10px;')
                                                .progress-bar.bg-success(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 0')
                                        td.text-right
                                            | 0 EUR
                                        td.d-none.d-sm-table-cell.text-right.text-muted
                                            | 0€
                                    tr
                                        td
                                            i.fa.fa-circle.text-elegance
                                        td
                                            strong British Pounds
                                        td.d-none.d-sm-table-cell
                                            .progress.mb-0(style='height: 10px;')
                                                .progress-bar.bg-elegance(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 0')
                                        td.text-right
                                            | 0 GBP
                                        td.d-none.d-sm-table-cell.text-right.text-muted
                                            | £0
                        .block-content.block-content-full.bg-body-light.text-muted.text-center.font-w600
                            | Total Balance ~ $14.800,00
                    // END Portfolio
                .col-lg-6
                    // Recent Activity
                    .block.block-fx-shadow
                        .block-header.block-header-default
                            h3.block-title Recent Activity
                            .block-options
                                button.btn-block-option(type='button')
                                    i.si.si-wrench
                        .block-content
                            table.table.table-borderless.table-striped.table-vcenter
                                tbody
                                    tr
                                        td.text-center(style='width: 50px;')
                                            | JAN
                                            br
                                            | 10
                                        td
                                            strong Bought Bitcoin
                                            br
                                            span.text-muted Using USD wallet
                                        td.text-right.text-success.font-w600
                                            | + 0.50 BTC
                                        td.d-none.d-sm-table-cell.text-right.text-danger.font-w600
                                            | - $6.500
                                    tr
                                        td.text-center(style='width: 50px;')
                                            | JAN
                                            br
                                            | 05
                                        td
                                            strong Bought Ethereum
                                            br
                                            span.text-muted Using USD wallet
                                        td.text-right.text-success.font-w600
                                            | + 3.00 ETH
                                        td.d-none.d-sm-table-cell.text-right.text-danger.font-w600
                                            | - $2.900
                                    tr
                                        td.text-center(style='width: 50px;')
                                            | JAN
                                            br
                                            | 02
                                        td
                                            strong Bought Litecoin
                                            br
                                            span.text-muted Using USD wallet
                                        td.text-right.text-success.font-w600
                                            | + 8.00 LTC
                                        td.d-none.d-sm-table-cell.text-right.text-danger.font-w600
                                            | - $1.800
                                    tr
                                        td.text-center(style='width: 50px;')
                                            | JAN
                                            br
                                            | 01
                                        td
                                            strong Bought Litecoin
                                            br
                                            span.text-muted Using USD wallet
                                        td.text-right.text-success.font-w600
                                            | + 2.00 LTC
                                        td.d-none.d-sm-table-cell.text-right.text-danger.font-w600
                                            | - $370
                        .block-content.block-content-full.bg-body-light.text-center.font-w600
                            a.link-effect(href='be_pages_crypto_wallets.html')
                                | View Your Wallets
                                i.fa.fa-angle-right.ml-5
                    // END Recent Activity
            // END Portfolio and Activity
        // END Page Content
    // END Main Container
