extends login/base
block content
    main#main-container
        // Page Content
        .bg-image(style="background-image: url('/img/photos/photo34@2x.jpg');")
            .row.mx-0.bg-black-op
                .hero-static.col-md-6.col-xl-8.d-none.d-md-flex.align-items-md-end
                    .p-30.invisible(data-toggle='appear')
                        p.font-size-h3.font-w600.text-white
                            | Get Inspired and Create.
                        p.font-italic.text-white-op
                            | Copyright ©
                            span.js-year-copy 2017
                .hero-static.col-md-6.col-xl-4.d-flex.align-items-center.bg-white.invisible(data-toggle='appear', data-class='animated fadeInRight')
                    .content.content-full
                        // Header
                        .px-30.py-10
                            a.link-effect.font-w700(href='index.html')
                                i.si.si-fire
                                span.font-size-xl.text-primary-dark code
                                span.font-size-xl base
                            h1.h3.font-w700.mt-30.mb-10 Welcome to Your Dashboard
                            h2.h5.font-w400.text-muted.mb-0 Please sign in
                        // END Header
                        // Sign In Form
                        // jQuery Validation (.js-validation-signin class is initialized in js/pages/op_auth_signin.js)
                        // For more examples you can check out https://github.com/jzaefferer/jquery-validation
                        form.js-validation-signin.px-30(action='/login', method='post')
                            .form-group.row
                                .col-12
                                    .form-material.floating
                                        input#login-username.form-control(type='text', name='login-username')
                                        label(for='login-username') Username
                            .form-group.row
                                .col-12
                                    .form-material.floating
                                        input#login-password.form-control(type='password', name='login-password')
                                        label(for='login-password') Password
                            .form-group.row
                                .col-12
                                    .custom-control.custom-checkbox
                                        input#login-remember-me.custom-control-input(type='checkbox', name='login-remember-me')
                                        label.custom-control-label(for='login-remember-me') Remember Me
                            .form-group
                                button.btn.btn-sm.btn-hero.btn-alt-primary(type='submit')
                                    i.si.si-login.mr-10
                                    |  Sign In
                                .mt-30
                                    a.link-effect.text-muted.mr-10.mb-5.d-inline-block(href='op_auth_signup2.html')
                                        i.fa.fa-plus.mr-5
                                        |  Create Account
                                    a.link-effect.text-muted.mr-10.mb-5.d-inline-block(href='op_auth_reminder2.html')
                                        i.fa.fa-warning.mr-5
                                        |  Forgot Password
                        // END Sign In Form
        // END Page Content
