script(src='/js/core/jquery.min.js')
script(src='/js/core/bootstrap.bundle.min.js')
script(src='/js/core/jquery.slimscroll.min.js')
script(src='/js/core/jquery.scrollLock.min.js')
script(src='/js/core/jquery.appear.min.js')
script(src='/js/core/jquery.countTo.min.js')
script(src='/js/core/js.cookie.min.js')
script(src='/js/codebase.js')
// Page JS Plugins
script(src='/js/plugins/jquery-validation/jquery.validate.min.js')
// Page JS Code
script(src='/js/pages/op_auth_signin.js')
