extends ../layout/base

block content
    main#main-container
        .content
            .block
                .block-header.block-header-default
                    button.btn.btn-alt-primary(type='button', data-toggle='modal', data-target='#add-user') Tambah Pengguna
                .block-content.block-content-full
                    // DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js
                    table.table.table-bordered.table-striped.table-vcenter.js-dataTable-full-pagination
                        thead
                            tr
                                th.text-center
                                th Name
                                th.d-none.d-sm-table-cell Email
                                th.d-none.d-sm-table-cell(style='width: 15%;') Access
                                th.text-center(style='width: 15%;') Profile
                        tbody
                            for user, index in users
                                tr
                                    td.text-center #{index+1}
                                    td.font-w600 #{user.fname} #{user.lname}
                                    td.d-none.d-sm-table-cell #{user.mail}
                                    td.d-none.d-sm-table-cell
                                        if user.admin == true
                                            span.badge.badge-info Admin
                                        else
                                            span.badge.badge-primary Member
                                    td.text-center
                                        button.btn.btn-sm.btn-outline-primary.edit_btn(type='button', data-toggle='modal', data-target='#edit-user#{user._id}')
                                            i.fa.fa-pencil
                                        form.del_btn(method="POST", action="/users/delete/#{user._id}")
                                            input(type="hidden", name="_method", value="DELETE")
                                            button.btn.btn-sm.btn-outline-danger(type="submit")
                                                i.fa.fa-trash

                                    .modal.fade(id='edit-user#{user.id}', tabindex='-1', role='dialog', aria-labelledby='add-user', aria-hidden='true')
                                        .modal-dialog.modal-dialog-popout(role='document')
                                            .modal-content
                                                .block.block-themed.block-transparent.mb-0
                                                    .block-header.bg-primary-dark
                                                        h3.block-title Edit data #{user.fname} #{user.lname}
                                                        .block-options
                                                            button.btn-block-option(type='button', data-dismiss='modal', aria-label='Close')
                                                                i.si.si-close
                                                    .block-content
                                                        form(action="/users/edit/#{ (_id == undefined) ? user._id : _id }", method="POST")
                                                            .form-group.row
                                                                .col-lg-12
                                                                    .input-group
                                                                        .input-group-prepend
                                                                            span.input-group-text
                                                                                i.fa.fa-user
                                                                        input.form-control(type='text', name='username', placeholder='Username', value=user.username)
                                                            .form-group.row
                                                                .col-lg-12
                                                                    .input-group
                                                                        .input-group-prepend
                                                                            span.input-group-text
                                                                                i.fa.fa-envelope-o
                                                                        input.form-control(type='email', name='mail', placeholder='Email', value=user.mail)
                                                            .form-group.row
                                                                .col-lg-12
                                                                    .input-group
                                                                        .input-group-prepend
                                                                            span.input-group-text
                                                                                i.fa.fa-lock
                                                                        input.form-control(type='password', name='pwd', placeholder='Password')
                                                            .form-group.row
                                                                .col-lg-12
                                                                    input.form-control(type='text', name='fname', placeholder='Nama Depan', value=user.fname)
                                                            .form-group.row
                                                                .col-lg-12
                                                                    input.form-control(type='text', name='lname', placeholder='Nama Belakang', value=user.lname)
                                                            .form-group.row
                                                                label.col-md-3.control-label Hak Akses
                                                                .col-lg-12
                                                                    select.form-control(name='hakakses')
                                                                        option(value="true") Admin
                                                                        option(value="false") Member

                                                            .modal-footer
                                                                button.btn.btn-alt-secondary(type='button', data-dismiss='modal') Tutup
                                                                input(type="hidden", name="_method", value="PUT")
                                                                button.btn.btn-alt-primary(type='submit')
                                                                    i.fa.fa-check
                                                                    |  Kirim


                    #add-user.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add-user', aria-hidden='true')
                        .modal-dialog.modal-dialog-popout(role='document')
                            .modal-content
                                .block.block-themed.block-transparent.mb-0
                                    .block-header.bg-primary-dark
                                        h3.block-title Tambah Pengguna Baru
                                        .block-options
                                            button.btn-block-option(type='button', data-dismiss='modal', aria-label='Close')
                                                i.si.si-close
                                    .block-content
                                        form(action='/users/add', method='post')
                                            .form-group.row
                                                .col-lg-12
                                                    .input-group
                                                        .input-group-prepend
                                                            span.input-group-text
                                                                i.fa.fa-user
                                                        input#example-input1-group1.form-control(type='text', name='username', placeholder='Username')
                                            .form-group.row
                                                .col-lg-12
                                                    .input-group
                                                        .input-group-prepend
                                                            span.input-group-text
                                                                i.fa.fa-envelope-o
                                                        input#example-input2-group1.form-control(type='email', name='mail', placeholder='Email')
                                            .form-group.row
                                                .col-lg-12
                                                    .input-group
                                                        .input-group-prepend
                                                            span.input-group-text
                                                                i.fa.fa-lock
                                                        input.form-control(type='password', name='pwd', placeholder='Password')
                                            .form-group.row
                                                .col-lg-12
                                                    input.form-control(type='text', name='fname', placeholder='Nama Depan')
                                            .form-group.row
                                                .col-lg-12
                                                    input.form-control(type='text', name='lname', placeholder='Nama Belakang')
                                            .form-group.row
                                                label.col-md-3.control-label Hak Akses
                                                .col-lg-12
                                                    select#example-select.form-control(name='akses')
                                                        option(value="true") Admin
                                                        option(value="false") Member

                                            .modal-footer
                                                button.btn.btn-alt-secondary(type='button', data-dismiss='modal') Tutup
                                                button.btn.btn-alt-primary(type='submit')
                                                    i.fa.fa-check
                                                    |  Kirim