aside#side-overlay
    // Side Overlay Scroll Container
    #side-overlay-scroll
        // Side Header
        .content-header.content-header-fullrow
            .content-header-section.align-parent
                // Close Side Overlay
                // Layout API, functionality initialized in Codebase() -> uiApiLayout()
                button.btn.btn-circle.btn-dual-secondary.align-v-r(type='button', data-toggle='layout', data-action='side_overlay_close')
                    i.fa.fa-times.text-danger
                // END Close Side Overlay
                // User Info
                .content-header-item
                    a.img-link.mr-5(href='be_pages_generic_profile.html')
                        img.img-avatar.img-avatar32(src='/img/avatars/avatar15.jpg', alt='')
                    a.align-middle.link-effect.text-primary-dark.font-w600(href='be_pages_generic_profile.html') John Smith
                // END User Info
        // END Side Header
        // Side Content
        .content-side
            // Search
            .block.pull-t.pull-r-l
                .block-content.block-content-full.block-content-sm.bg-body-light
                    form(action='be_pages_generic_search.html', method='post')
                        .input-group
                            input#side-overlay-search.form-control(type='text', name='side-overlay-search', placeholder='Search..')
                            .input-group-append
                                button.btn.btn-secondary.px-10(type='submit')
                                    i.fa.fa-search
            // END Search
            // Mini Stats
            .block.pull-r-l
                .block-content.block-content-full.block-content-sm.bg-body-light
                    .row
                        .col-4
                            .font-size-sm.font-w600.text-uppercase.text-muted Clients
                            .font-size-h4 460
                        .col-4
                            .font-size-sm.font-w600.text-uppercase.text-muted Sales
                            .font-size-h4 728
                        .col-4
                            .font-size-sm.font-w600.text-uppercase.text-muted Earnings
                            .font-size-h4 $7,860
            // END Mini Stats
            // Friends
            .block.pull-r-l
                .block-header.bg-body-light
                    h3.block-title
                        i.fa.fa-fw.fa-users.font-size-default.mr-5
                        | Friends
                    .block-options
                        button.btn-block-option(type='button', data-toggle='block-option', data-action='state_toggle', data-action-mode='demo')
                            i.si.si-refresh
                        button.btn-block-option(type='button', data-toggle='block-option', data-action='content_toggle')
                .block-content
                    ul.nav-users.push
                        li
                            a(href='be_pages_generic_profile.html')
                                img.img-avatar(src='/img/avatars/avatar6.jpg', alt='')
                                i.fa.fa-circle.text-success
                                |  Barbara Scott
                                .font-w400.font-size-xs.text-muted Photographer
                        li
                            a(href='be_pages_generic_profile.html')
                                img.img-avatar(src='/img/avatars/avatar16.jpg', alt='')
                                i.fa.fa-circle.text-success
                                |  Jack Estrada
                                .font-w400.font-size-xs.text-muted Web Designer
                        li
                            a(href='be_pages_generic_profile.html')
                                img.img-avatar(src='/img/avatars/avatar5.jpg', alt='')
                                i.fa.fa-circle.text-warning
                                |  Marie Duncan
                                .font-w400.font-size-xs.text-muted UI Designer
                        li
                            a(href='be_pages_generic_profile.html')
                                img.img-avatar(src='/img/avatars/avatar9.jpg', alt='')
                                i.fa.fa-circle.text-danger
                                |  Carl Wells
                                .font-w400.font-size-xs.text-muted Copywriter
            // END Friends
            // Activity
            .block.pull-r-l
                .block-header.bg-body-light
                    h3.block-title
                        i.fa.fa-fw.fa-clock-o.font-size-default.mr-5
                        | Activity
                    .block-options
                        button.btn-block-option(type='button', data-toggle='block-option', data-action='state_toggle', data-action-mode='demo')
                            i.si.si-refresh
                        button.btn-block-option(type='button', data-toggle='block-option', data-action='content_toggle')
                .block-content
                    ul.list.list-activity
                        li
                            i.si.si-wallet.text-success
                            .font-w600 +$29 New sale
                            div
                                a(href='javascript:void(0)') Admin Template
                            .font-size-xs.text-muted 5 min ago
                        li
                            i.si.si-close.text-danger
                            .font-w600 Project removed
                            div
                                a(href='javascript:void(0)') Best Icon Set
                            .font-size-xs.text-muted 26 min ago
                        li
                            i.si.si-pencil.text-info
                            .font-w600 You edited the file
                            div
                                a(href='javascript:void(0)')
                                    i.fa.fa-file-text-o
                                    |  Docs.doc
                            .font-size-xs.text-muted 3 hours ago
                        li
                            i.si.si-plus.text-success
                            .font-w600 New user
                            div
                                a(href='javascript:void(0)') StudioWeb - View Profile
                            .font-size-xs.text-muted 5 hours ago
                        li
                            i.si.si-wrench.text-warning
                            .font-w600 App v5.5 is available
                            div
                                a(href='javascript:void(0)') Update now
                            .font-size-xs.text-muted 8 hours ago
                        li
                            i.si.si-user-follow.text-pulse
                            .font-w600 +1 Friend Request
                            div
                                a(href='javascript:void(0)') Accept
                            .font-size-xs.text-muted 1 day ago
            // END Activity
            // Profile
            .block.pull-r-l
                .block-header.bg-body-light
                    h3.block-title
                        i.fa.fa-fw.fa-pencil.font-size-default.mr-5
                        | Profile
                    .block-options
                        button.btn-block-option(type='button', data-toggle='block-option', data-action='content_toggle')
                .block-content
                    form(action='be_pages_dashboard.html', method='post', onsubmit='return false;')
                        .form-group.mb-15
                            label(for='side-overlay-profile-name') Name
                            .input-group
                                input#side-overlay-profile-name.form-control(type='text', name='side-overlay-profile-name', placeholder='Your name..', value='John Smith')
                                .input-group-append
                                    span.input-group-text
                                        i.fa.fa-user
                        .form-group.mb-15
                            label(for='side-overlay-profile-email') Email
                            .input-group
                                input#side-overlay-profile-email.form-control(type='email', name='side-overlay-profile-email', placeholder='Your email..', value='john.smith@example.com')
                                .input-group-append
                                    span.input-group-text
                                        i.fa.fa-envelope
                        .form-group.mb-15
                            label(for='side-overlay-profile-password') New Password
                            .input-group
                                input#side-overlay-profile-password.form-control(type='password', name='side-overlay-profile-password', placeholder='New Password..')
                                .input-group-append
                                    span.input-group-text
                                        i.fa.fa-asterisk
                        .form-group.mb-15
                            label(for='side-overlay-profile-password-confirm') Confirm New Password
                            .input-group
                                input#side-overlay-profile-password-confirm.form-control(type='password', name='side-overlay-profile-password-confirm', placeholder='Confirm New Password..')
                                .input-group-append
                                    span.input-group-text
                                        i.fa.fa-asterisk
                        .form-group.row
                            .col-6
                                button.btn.btn-block.btn-alt-primary(type='submit')
                                    i.fa.fa-refresh.mr-5
                                    |  Update
            // END Profile
            // Settings
            .block.pull-r-l
                .block-header.bg-body-light
                    h3.block-title
                        i.fa.fa-fw.fa-wrench.font-size-default.mr-5
                        | Settings
                    .block-options
                        button.btn-block-option(type='button', data-toggle='block-option', data-action='content_toggle')
                .block-content
                    .row.gutters-tiny
                        .col-6
                            .custom-control.custom-checkbox.mb-5
                                input#side-overlay-settings-status.custom-control-input(type='checkbox', name='side-overlay-settings-status', value='1', checked='')
                                label.custom-control-label(for='side-overlay-settings-status') Online Status
                            .custom-control.custom-checkbox.mb-5
                                input#side-overlay-settings-public-profile.custom-control-input(type='checkbox', name='side-overlay-settings-public-profile', value='1')
                                label.custom-control-label(for='side-overlay-settings-public-profile') Public Profile
                            .custom-control.custom-checkbox.mb-5
                                input#side-overlay-settings-notifications.custom-control-input(type='checkbox', name='side-overlay-settings-notifications', value='1', checked='')
                                label.custom-control-label(for='side-overlay-settings-notifications') Notifications
                        .col-6
                            .custom-control.custom-checkbox.mb-5
                                input#side-overlay-settings-updates.custom-control-input(type='checkbox', name='side-overlay-settings-updates', value='1')
                                label.custom-control-label(for='side-overlay-settings-updates') Auto updates
                            .custom-control.custom-checkbox.mb-5
                                input#side-overlay-settings-api-access.custom-control-input(type='checkbox', name='side-overlay-settings-api-access', value='1', checked='')
                                label.custom-control-label(for='side-overlay-settings-api-access') API Access
                            .custom-control.custom-checkbox.mb-5
                                input#side-overlay-settings-limit-requests.custom-control-input(type='checkbox', name='side-overlay-settings-limit-requests', value='1')
                                label.custom-control-label(for='side-overlay-settings-limit-requests') API Requests
            // END Settings
        // END Side Content
    // END Side Overlay Scroll Container
