doctype html
html
    head
        include head.jade

    body
        div#page-container.sidebar-o.side-scroll.page-header-modern.main-content-boxed
            include aside.jade
            include sidebar.jade
            include header.jade
            block content
            include footer.jade

        include js.jade