footer#page-footer.opacity-0(style='opacity: 1;')
    .content.py-20.font-size-xs.clearfix
        .float-right
            | Crafted with
            i.fa.fa-heart.text-pulse
            |  by
            a.font-w600(href='http://goo.gl/vNS3I', target='_blank') pixelcave
        .float-left
            a.font-w600(href='https://goo.gl/po9Usv', target='_blank') Codebase 2.0
            |  ©
            span.js-year-copy 2017-18
