header#page-header
    // Header Content
    .content-header
        // Left Section
        .content-header-section
            // Toggle Sidebar
            // Layout API, functionality initialized in Codebase() -> uiApiLayout()
            button.btn.btn-circle.btn-dual-secondary(type='button', data-toggle='layout', data-action='sidebar_toggle')
                i.fa.fa-navicon
            // END Toggle Sidebar
            // Open Search Section
            // Layout API, functionality initialized in Codebase() -> uiApiLayout()
            button.btn.btn-circle.btn-dual-secondary(type='button', data-toggle='layout', data-action='header_search_on')
                i.fa.fa-search
            // END Open Search Section
            // Layout Options (used just for demonstration)
            // Layout API, functionality initialized in Codebase() -> uiApiLayout()
            .btn-group(role='group')
                button#page-header-options-dropdown.btn.btn-circle.btn-dual-secondary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-wrench
                .dropdown-menu(aria-labelledby='page-header-options-dropdown')
                    h6.dropdown-header Header
                    button.btn.btn-sm.btn-block.btn-alt-secondary(type='button', data-toggle='layout', data-action='header_fixed_toggle') Fixed Mode
                    button.btn.btn-sm.btn-block.btn-alt-secondary.d-none.d-lg-block.mb-10(type='button', data-toggle='layout', data-action='header_style_classic') Classic Style
                    .d-none.d-xl-block
                        h6.dropdown-header Main Content
                        button.btn.btn-sm.btn-block.btn-alt-secondary.mb-10(type='button', data-toggle='layout', data-action='content_layout_toggle') Toggle Layout
                    .dropdown-divider
                    a.dropdown-item(href='be_layout_api.html')
                        i.si.si-chemistry
                        |  All Options (API)
            // END Layout Options
            // Color Themes (used just for demonstration)
            // Themes functionality initialized in Codebase() -> uiHandleTheme()
            .btn-group(role='group')
                button#page-header-themes-dropdown.btn.btn-circle.btn-dual-secondary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.fa.fa-paint-brush
                .dropdown-menu.min-width-150(aria-labelledby='page-header-themes-dropdown')
                    h6.dropdown-header.text-center Color Themes
                    .row.no-gutters.text-center.mb-5
                        .col-4.mb-5
                            a.text-default(data-toggle='theme', data-theme='default', href='javascript:void(0)')
                                i.fa.fa-2x.fa-circle
                        .col-4.mb-5
                            a.text-elegance(data-toggle='theme', data-theme='assets/css/themes/elegance.min.css', href='javascript:void(0)')
                                i.fa.fa-2x.fa-circle
                        .col-4.mb-5
                            a.text-pulse(data-toggle='theme', data-theme='assets/css/themes/pulse.min.css', href='javascript:void(0)')
                                i.fa.fa-2x.fa-circle
                        .col-4.mb-5
                            a.text-flat(data-toggle='theme', data-theme='assets/css/themes/flat.min.css', href='javascript:void(0)')
                                i.fa.fa-2x.fa-circle
                        .col-4.mb-5
                            a.text-corporate(data-toggle='theme', data-theme='assets/css/themes/corporate.min.css', href='javascript:void(0)')
                                i.fa.fa-2x.fa-circle
                        .col-4.mb-5
                            a.text-earth(data-toggle='theme', data-theme='assets/css/themes/earth.min.css', href='javascript:void(0)')
                                i.fa.fa-2x.fa-circle
                    .dropdown-divider
                    button.btn.btn-sm.btn-block.btn-alt-secondary.mb-10(type='button', data-toggle='layout', data-action='sidebar_style_inverse_toggle') Sidebar Style
                    .dropdown-divider
                    a.dropdown-item(href='be_ui_color_themes.html')
                        i.fa.fa-paint-brush
                        |  All Color Themes
            // END Color Themes
        // END Left Section
        // Right Section
        .content-header-section
            // User Dropdown
            .btn-group(role='group')
                button#page-header-user-dropdown.btn.btn-rounded.btn-dual-secondary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | #{session_store.nama_dpn}
                    i.fa.fa-angle-down.ml-5
                .dropdown-menu.dropdown-menu-right.min-width-150(aria-labelledby='page-header-user-dropdown')
                    a.dropdown-item(href='be_pages_generic_profile.html')
                        i.si.si-user.mr-5
                        |  Profile
                    a.dropdown-item.d-flex.align-items-center.justify-content-between(href='be_pages_generic_inbox.html')
                        span
                            i.si.si-envelope-open.mr-5
                            |  Inbox
                        span.badge.badge-primary 3
                    a.dropdown-item(href='be_pages_generic_invoice.html')
                        i.si.si-note.mr-5
                        |  Invoices
                    .dropdown-divider
                    // Toggle Side Overlay
                    // Layout API, functionality initialized in Codebase() -> uiApiLayout()
                    a.dropdown-item(href='javascript:void(0)', data-toggle='layout', data-action='side_overlay_toggle')
                        i.si.si-wrench.mr-5
                        |  Settings
                    // END Side Overlay
                    .dropdown-divider
                    a.dropdown-item(href='/logout/')
                        i.si.si-logout.mr-5
                        |  Sign Out
            // END User Dropdown
            // Toggle Side Overlay
            // Layout API, functionality initialized in Codebase() -> uiApiLayout()
            button.btn.btn-circle.btn-dual-secondary(type='button', data-toggle='layout', data-action='side_overlay_toggle')
                i.fa.fa-tasks
            // END Toggle Side Overlay
        // END Right Section
    // END Header Content
    // Header Search
    #page-header-search.overlay-header
        .content-header.content-header-fullrow
            form(action='be_pages_generic_search.html', method='post')
                .input-group
                    .input-group-prepend
                        // Close Search Section
                        // Layout API, functionality initialized in Codebase() -> uiApiLayout()
                        button.btn.btn-secondary(type='button', data-toggle='layout', data-action='header_search_off')
                            i.fa.fa-times
                        // END Close Search Section
                    input#page-header-search-input.form-control(type='text', placeholder='Search or hit ESC..', name='page-header-search-input')
                    .input-group-append
                        button.btn.btn-secondary(type='submit')
                            i.fa.fa-search
    // END Header Search
    // Header Loader
    // Please check out the Activity page under Elements category to see examples of showing/hiding it
    #page-header-loader.overlay-header.bg-primary
        .content-header.content-header-fullrow.text-center
            .content-header-item
                i.fa.fa-sun-o.fa-spin.text-white
    // END Header Loader
// END Header