// Codebase Core js
script(src='/js/core/jquery.min.js')
script(src='/js/core/bootstrap.bundle.min.js')
script(src='/js/core/jquery.slimscroll.min.js')
script(src='/js/core/jquery.scrollLock.min.js')
script(src='/js/core/jquery.appear.min.js')
script(src='/js/core/jquery.countTo.min.js')
script(src='/js/core/js.cookie.min.js')
script(src='/js/codebase.js')
// Page js Plugins
script(src='/js/plugins/chartjs/Chart.bundle.min.js')
// Page js Code
script(src='/js/pages/be_pages_crypto_dashboard.js')
