nav#sidebar
    #sidebar-scroll
        .sidebar-content
            // Side Header
            .content-header.content-header-fullrow.px-15
                // Mini Mode
                .content-header-section.sidebar-mini-visible-b
                    // Logo
                    span.content-header-item.font-w700.font-size-xl.float-left.animated.fadeIn
                        span.text-dual-primary-dark c
                        span.text-primary b
                    // END Logo
                // END Mini Mode
                // Normal Mode
                .content-header-section.text-center.align-parent.sidebar-mini-hidden
                    // Close Sidebar, Visible only on mobile screens
                    // Layout API, functionality initialized in Codebase() -> uiApiLayout()
                    button.btn.btn-circle.btn-dual-secondary.d-lg-none.align-v-r(type='button', data-toggle='layout', data-action='sidebar_close')
                        i.fa.fa-times.text-danger
                    // END Close Sidebar
                    // Logo
                    .content-header-item
                        a.link-effect.font-w700(href='index.html')
                            i.si.si-fire.text-primary
                            span.font-size-xl.text-dual-primary-dark code
                            span.font-size-xl.text-primary base
                    // END Logo
                // END Normal Mode
            // END Side Header
            // Side User
            .content-side.content-side-full.content-side-user.px-10.align-parent
                // Visible only in mini mode
                .sidebar-mini-visible-b.align-v.animated.fadeIn
                    img.img-avatar.img-avatar32(src='/img/avatars/avatar15.jpg', alt='')
                // END Visible only in mini mode
                // Visible only in normal mode
                .sidebar-mini-hidden-b.text-center
                    a.img-link(href='be_pages_generic_profile.html')
                        img.img-avatar(src='/img/avatars/avatar15.jpg', alt='')
                    ul.list-inline.mt-10
                        li.list-inline-item
                            a.link-effect.text-dual-primary-dark.font-size-xs.font-w600.text-uppercase(href='be_pages_generic_profile.html') #{session_store.username}
                        li.list-inline-item
                            // Layout API, functionality initialized in Codebase() -> uiApiLayout()
                            a.link-effect.text-dual-primary-dark(data-toggle='layout', data-action='sidebar_style_inverse_toggle', href='javascript:void(0)')
                                i.si.si-drop
                        li.list-inline-item
                            a.link-effect.text-dual-primary-dark(href='op_auth_signin.html')
                                i.si.si-logout
                // END Visible only in normal mode
            // END Side User
            // Side Navigation
            .content-side.content-side-full
                ul.nav-main
                    li
                        a(href='#')
                            i.si.si-cup
                            span.sidebar-mini-hide Dashboard
                    li
                        a(href='/users')
                            i.si.si-users
                            span.sidebar-mini-hide Pengguna
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-energy
                            span.sidebar-mini-hide Elements
                        ul
                            li
                                a(href='be_ui_grid.html') Grid
                            li
                                a(href='be_ui_icons.html') Icons
                            li
                                a(href='be_ui_typography.html') Typography
                            li
                                a(href='be_ui_activity.html') Activity
                            li
                                a(href='be_ui_buttons.html') Buttons
                            li
                                a(href='be_ui_navigation.html') Navigation
                            li
                                a(href='be_ui_tabs.html') Tabs
                            li
                                a(href='be_ui_modals_tooltips.html') Modals & Tooltips
                            li
                                a(href='be_ui_images.html') Images
                            li
                                a(href='be_ui_animations.html') Animations
                            li
                                a(href='be_ui_ribbons.html') Ribbons
                            li
                                a(href='be_ui_timeline.html') Timeline
                            li
                                a(href='be_ui_color_themes.html') Color Themes
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-layers
                            span.sidebar-mini-hide Tables
                        ul
                            li
                                a(href='be_tables_styles.html') Styles
                            li
                                a(href='be_tables_responsive.html') Responsive
                            li
                                a(href='be_tables_helpers.html') Helpers
                            li
                                a(href='be_tables_pricing.html') Pricing
                            li
                                a(href='be_tables_datatables.html') DataTables
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-note
                            span.sidebar-mini-hide Forms
                        ul
                            li
                                a(href='be_forms_elements_bootstrap.html') Bootstrap Elements
                            li
                                a(href='be_forms_elements_material.html') Material Elements
                            li
                                a(href='be_forms_css_inputs.html') CSS Inputs
                            li
                                a(href='be_forms_plugins.html') Plugins
                            li
                                a(href='be_forms_editors.html') Editors
                            li
                                a(href='be_forms_validation.html') Validation
                            li
                                a(href='be_forms_wizard.html') Wizard
                            li
                                a(href='be_forms_premade.html') Pre-made
                    li.nav-main-heading
                        span.sidebar-mini-visible BD
                        span.sidebar-mini-hidden Build
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-vector
                            span.sidebar-mini-hide Layout
                        ul
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') General
                                ul
                                    li
                                        a(href='be_layout_default.html') Default
                                    li
                                        a(href='be_layout_flipped.html') Flipped
                                    li
                                        a(href='be_layout_native_scrolling.html') Native Scrolling
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') Header
                                ul
                                    li
                                        a.nav-submenu(data-toggle='nav-submenu', href='#') Static
                                        ul
                                            li
                                                a(href='be_layout_header_modern.html') Modern
                                            li
                                                a(href='be_layout_header_classic.html') Classic
                                            li
                                                a(href='be_layout_header_classic_inverse.html') Classic Inverse
                                            li
                                                a(href='be_layout_header_glass.html') Glass
                                            li
                                                a(href='be_layout_header_glass_inverse.html') Glass Inverse
                                    li
                                        a.nav-submenu(data-toggle='nav-submenu', href='#') Fixed
                                        ul
                                            li
                                                a(href='be_layout_header_fixed_modern.html') Modern
                                            li
                                                a(href='be_layout_header_fixed_classic.html') Classic
                                            li
                                                a(href='be_layout_header_fixed_classic_inverse.html') Classic Inverse
                                            li
                                                a(href='be_layout_header_fixed_glass.html') Glass
                                            li
                                                a(href='be_layout_header_fixed_glass_inverse.html') Glass Inverse
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') Sidebar
                                ul
                                    li
                                        a(href='be_layout_sidebar_inverse.html') Inverse
                                    li
                                        a(href='be_layout_sidebar_hidden.html') Hidden
                                    li
                                        a(href='be_layout_sidebar_mini.html') Mini
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') Side Overlay
                                ul
                                    li
                                        a(href='be_layout_side_overlay_visible.html') Visible
                                    li
                                        a(href='be_layout_side_overlay_hoverable.html') Hoverable
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') Main Content
                                ul
                                    li
                                        a(href='be_layout_content_boxed.html') Boxed
                                    li
                                        a(href='be_layout_content_narrow.html') Narrow
                                    li
                                        a(href='be_layout_content_full_width.html') Full Width
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') Hero
                                ul
                                    li
                                        a(href='be_layout_hero_color.html') Color
                                    li
                                        a(href='be_layout_hero_image.html') Image
                                    li
                                        a(href='be_layout_hero_video.html') Video
                            li
                                a(href='be_layout_api.html') API
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-trophy
                            span.sidebar-mini-hide Components
                        ul
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#')
                                    span.sidebar-mini-hide Main Menu
                                ul
                                    li
                                        a(href='#') Link 1-1
                                    li
                                        a(href='#') Link 1-2
                                    li
                                        a.nav-submenu(data-toggle='nav-submenu', href='#') Sub Level 2
                                        ul
                                            li
                                                a(href='#') Link 2-1
                                            li
                                                a(href='#') Link 2-2
                                            li
                                                a.nav-submenu(data-toggle='nav-submenu', href='#') Sub Level 3
                                                ul
                                                    li
                                                        a(href='#') Link 3-1
                                                    li
                                                        a(href='#') Link 3-2
                            li
                                a.nav-submenu(data-toggle='nav-submenu', href='#') Chat
                                ul
                                    li
                                        a(href='be_comp_chat_multiple.html') Multiple
                                    li
                                        a(href='be_comp_chat_single.html') Single
                            li
                                a(href='be_comp_charts.html') Charts
                            li
                                a(href='be_comp_gallery.html') Gallery
                            li
                                a(href='be_comp_sliders.html') Sliders
                            li
                                a(href='be_comp_scrolling.html') Scrolling
                            li
                                a(href='be_comp_rating.html') Rating
                            li
                                a(href='be_comp_filtering.html') Filtering
                            li
                                a(href='be_comp_appear.html') Appear
                            li
                                a(href='be_comp_countto.html') CountTo
                            li
                                a(href='be_comp_calendar.html') Calendar
                            li
                                a(href='be_comp_image_cropper.html') Image Cropper
                            li
                                a(href='be_comp_maps_google.html') Google Maps
                            li
                                a(href='be_comp_maps_vector.html') Vector Maps
                            li
                                a(href='be_comp_syntax_highlighting.html') Syntax Highlighting
                    li.nav-main-heading
                        span.sidebar-mini-visible PG
                        span.sidebar-mini-hidden Pages
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-globe-alt
                            span.sidebar-mini-hide Generic
                        ul
                            li
                                a(href='be_pages_generic_blank.html') Blank
                            li
                                a(href='be_pages_generic_blank_block.html') Blank (Block)
                            li
                                a(href='be_pages_generic_blank_breadcrumb.html') Blank (Breadcrumb)
                            li
                                a(href='be_pages_generic_scrumboard.html') Scrum Board
                            li
                                a(href='be_pages_generic_search.html') Search
                            li
                                a(href='be_pages_generic_profile.html') Profile
                            li
                                a(href='be_pages_generic_inbox.html') Inbox
                            li
                                a(href='be_pages_generic_invoice.html') Invoice
                            li
                                a(href='be_pages_generic_faq.html') FAQ
                            li
                                a(href='be_pages_generic_blog.html') Blog
                            li
                                a(href='be_pages_generic_story.html') Story
                            li
                                a(href='be_pages_generic_project_list.html') Project List
                            li
                                a(href='be_pages_generic_project.html') Project
                            li
                                a(href='be_pages_generic_upgrade_plan.html') Upgrade Plan
                            li
                                a(href='be_pages_generic_team.html') Team
                            li
                                a(href='be_pages_generic_contact.html') Contact
                            li
                                a(href='be_pages_generic_todo.html') Todo
                            li
                                a(href='op_coming_soon.html') Coming Soon
                            li
                                a(href='op_maintenance.html') Maintenance
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-lock
                            span.sidebar-mini-hide Authentication
                        ul
                            li
                                a(href='be_pages_auth_all.html') All
                            li
                                a(href='op_auth_signin.html') Sign In
                            li
                                a(href='op_auth_signin2.html') Sign In 2
                            li
                                a(href='op_auth_signin3.html') Sign In 3
                            li
                                a(href='op_auth_signup.html') Sign Up
                            li
                                a(href='op_auth_signup2.html') Sign Up 2
                            li
                                a(href='op_auth_signup3.html') Sign Up 3
                            li
                                a(href='op_auth_lock.html') Lock Screen
                            li
                                a(href='op_auth_lock2.html') Lock Screen 2
                            li
                                a(href='op_auth_lock3.html') Lock Screen 3
                            li
                                a(href='op_auth_reminder.html') Pass Reminder
                            li
                                a(href='op_auth_reminder2.html') Pass Reminder 2
                            li
                                a(href='op_auth_reminder3.html') Pass Reminder 3
                    li
                        a.nav-submenu(data-toggle='nav-submenu', href='#')
                            i.si.si-flag
                            span.sidebar-mini-hide Error
                        ul
                            li
                                a(href='be_pages_error_all.html') All
                            li
                                a(href='op_error_400.html') 400
                            li
                                a(href='op_error_401.html') 401
                            li
                                a(href='op_error_403.html') 403
                            li
                                a(href='op_error_404.html') 404
                            li
                                a(href='op_error_500.html') 500
                            li
                                a(href='op_error_503.html') 503
            // END Side Navigation
